ion-slide {
    height: 100vh;
    flex-direction: column;
    text-align: justify;
}

ion-img {
    max-width: 50vw;
    max-height: 50vh;
    overflow: auto;
}

p {
    padding: 1em;
}

.step-one {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

.step-two {
    background: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
}

.step-three {
    background: var(--ion-color-dark);
    color: var(--ion-color-dark-contrast);
}