<ion-slides pager="true" #slides>
  <ion-slide class="step-one">
    <h1>Explore the Demo</h1>
    <p>
      The Ionic Master Course Demo App
    </p>
    <ion-button color="dark" (click)="slides.slideNext()">
      Next
    </ion-button>
  </ion-slide>
  <ion-slide class="step-two">
    <h1>Watch the videos</h1>
    <p>
      Each feature and concept is backed up by a tutorial
    </p>
    <ion-button color="dark" (click)="slides.slideNext()">
      Next
    </ion-button>
  </ion-slide>
  <ion-slide class="step-three">
    <h1>Deploy your own</h1>
    <p>
      Build and deploy your own app to the web
    </p>
    <ion-button color="dark" (click)="finish()">
      Sounds Awesome!
    </ion-button>
  </ion-slide>
</ion-slides>