<ion-app>

  <ion-menu contentId="my-content" side="start" type="push" #sidemenu>

    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content id="my-content">
      <ion-list>
        <ion-item routerLink="/" (click)="sidemenu.close()">
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="#">
          <ion-label>Intro Tutorial</ion-label>
        </ion-item>
        <ion-item routerLink="/todo">
          <ion-label>Todo List</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
